#h1header{
   color: green;
   display: flex;
   align-items: center;
   float: left;
   margin-bottom: 15px;
}


body {
    background-color: rgb(172, 222, 166);
}

.imgLogo {
    border-radius: 25px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat; 
    float:left;
}

#h2footer {
    
}

#footer {
    /* display: flex; */
    padding: 3px;
    position:fixed;
    bottom: 0;
    height: 95x;
    width: 1325px;
    /* background-color: rgb(172, 222, 166); */
    opacity: 70%; 
}
#gitFooter {
    display: flex;
    border-radius: 25px;
    float: right;
    /* width:40%; */
    /* text-align: left; */
}


